@booked-color: #AED581;
@closed-color: #E57373;
@open-color:   #FFF176;
@open-stripes: repeating-linear-gradient(
	45deg,
	@booked-color,
	@booked-color 11.31px,
	transparent 11.31px,
	transparent 22.62px
);

@small-tile-height: 65px;
@tile-spacing: 10px;

.menu {
	float: left;
	text-align: center;
	width: 300px;
	background: #f0f0f0;
	padding: 5px;
	margin: 5px;
}
.list {
	display: block;
	tbody {
		column-count:3;
		-webkit-column-count: 3;
		display: block;
	}
	tr {
		display: block;
		td {
			display: inline;
			padding: 0;
		}
		td:first-child::after {
			content: " " attr(title);
			color: #808080;
			font-size: 75%;
		}
	}
}

.width-step(@w; @extra) {
	@media (min-width: (@w + @extra)) { width: @w; }
}

.days {
	overflow: hidden;
	margin: auto;
	@border: 20px;
	@tile-width: (@tile-spacing + @small-tile-height) * 4;
	.width-step(2 * @tile-width, 2*@border);
	.width-step(3 * @tile-width, 2*@border);
	.width-step(4 * @tile-width, 2*@border);
	.width-step(5 * @tile-width, 2*@border);
	.width-step(6 * @tile-width, 2*@border);
	.width-step(7 * @tile-width, 2*@border);
}
.day {
	margin: @tile-spacing / 2;
	background: white;
	width: @tile-spacing * 3 + @small-tile-height * 4;
	min-height: @tile-spacing * 3 + @small-tile-height * 4;
	float: left;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 0px 3px 0px, rgba(0, 0, 0, 0.317647) 0px 3px 6px 0px;
	position: relative;
	p {
		margin: 0;
		padding: 0;
	}
	.menus {
		overflow-y: auto;
		top: @small-tile-height;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.menu {
		font-size: 60%;
		width: auto;
		float: none;
		margin: 0;
		white-space: pre-wrap;
		background: transparent;
		clear: both;
		padding: 0;
		width: auto;
		.menu-course {
			padding: 5px;
			&:not(:last-child) {
				border-bottom: 1px solid #e0e0e0;
			}

			.menu-part {
				display: block;
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}

		body:not(.diet-vegetarian) & {
			span.main-vegetarian {
				color: #808080;
				font-size: 75%;
			}
			span.main-vegetarian::before {
				content: "Vegetarian: ";
				font-size: 50%;
			}
		}
		body.diet-vegetarian & {
			span.main-meat {
				color: #808080;
				font-size: 75%;
			}
			span.main-meat::before {
				content: "Meat: ";
				font-size: 50%;
			}
		}
	}
	.halls-1 .hall {
		height: @small-tile-height - 10px;
		line-height: @small-tile-height - 10px;
	}
	.halls-2 .hall {
		height: @small-tile-height / 2 - 10px;
		line-height: @small-tile-height / 2 - 10px;
	}
	.halls-3 .hall {
		height: @small-tile-height / 3 - 10px;
		line-height: @small-tile-height / 3 - 10px;
	}
	.halls-4 .hall {
		height: (2*@small-tile-height + @tile-spacing) / 4 - 10px;
		line-height: (2*@small-tile-height + @tile-spacing) / 4 - 10px;
	}
	.hall {
		position: relative;
		background-color: rgb(246, 246, 246);
		padding: 5px;
		height: 25px;
		line-height: 25px;
		display: block;
		text-decoration: none;
		margin-left: @small-tile-height;
		z-index: 0;
		color: inherit;
		.time {
			text-transform: uppercase;
			color: #202020;
			font-size: 55%;
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
		}
		.hall-capacity-bar {
			position: absolute;
			z-index: -1;
			right: 0;
			top:0;
			background: rgba(255, 255, 255, 0.5);
			height: 100%;
			text-align: right;
		}
		.hall-capacity {
			float: right;
			color: #404040;
			margin-left: 5px;
		}
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&.hall-status-booked { background-color: @booked-color; }
		&.hall-status-closed { background-color: @closed-color; }
		&.hall-status-open   { background-color: @open-color;   }
		&.hall-on-waiting-list {
			background-image: @open-stripes;
		}
	}
	.fulldate {
		float: left;
		height: 50px;
		padding: (@small-tile-height - 50px)/2 5px;
		// background: #808080;
		text-align: center;
		width: @small-tile-height - 10px;
		// color: white;
		.weekday {
			display: block;
			height: 10px;
			line-height: 10px;
			font-size: 10px;
		}
		.date {
			display: block;
			height: 30px;
			line-height: 30px;
			font-size: 30px;
		}
		.month {
			display: block;
			height: 10px;
			line-height: 10px;
			font-size: 10px;
		}
	}
	.halls:hover .hall-bookable {
		.hall-capacity { display: none;	}
		&.hall-status-open {
			.booking-button-book { display: block; }
			.booking-button-switch { display: none; }
			.booking-button-cancel { display: none; }
		}
	}
	&.day-booked .halls:hover .hall-bookable {
		&.hall-status-open {
			.booking-button-book { display:  block; }
			.booking-button-switch { display:  none; }
			.booking-button-cancel { display: none; }
		}
		&.hall-status-booked {
			.booking-button-book { display: none; }
			.booking-button-switch { display: none; }
			.booking-button-cancel { display: block; }
		}
	}
	&.loading {
		background-image: url('chrome-extension://__MSG_@@extension_id__/ajax-loader.gif');
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}


	&.day-current {
		width:  @small-tile-height*8 + @tile-spacing * 7;
		height: @small-tile-height*8 + @tile-spacing * 7;

		.menu {
			font-size: 100%;
		}
		.fulldate {
			// background: black;
		}
	}

	&.day-past {
		display: none;
		body.show-past-halls & { display: block; }

		&:not(.day-booked) {
			opacity: 0.25;
			&:hover {
				opacity: 1;
			}
		}
	}

	&.nomenu {
		min-height: initial;
	}

	.header {
		background-color: rgb(246, 246, 246);
		border-bottom: 1px solid rgb(229, 229, 229);
		margin-bottom: -1px;
	}
	&.day-some-hall-status-closed .header {
		border: none; margin: 0;
		background-color: @closed-color;
	}
	&.day-some-hall-status-open .header {
		border: none; margin: 0;
		background-color: @open-color;
	}
	&.day-some-hall-status-booked .header {
		border: none; margin: 0;
		background-color: @booked-color;
	}
}

.toggle-past-halls-hide { display: none; }
body.show-past-halls {
	.toggle-past-halls-hide { display: block; }
	.toggle-past-halls-show { display: none; }
	.past-present-line { display: block; }
}

.booking-button {
	float: right;
	display: none;
	z-index: 2;
	position: relative;
	box-sizing: border-box;



	.halls-1 & {
		height: @small-tile-height - 5px;
		margin: -2.5px;
	}
	.halls-2 & {
		height: @small-tile-height / 2 - 5px;
		margin: -2.5px;
	}
	.halls-3 & {
		height: @small-tile-height / 3 - 5px;
		margin: -2.5px;
	}
	.halls-4 & {
		height: (2*@small-tile-height + @tile-spacing) / 4 - 5px;
		margin: -2.5px;
	}
}
.attendee-wrapper {
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 0px 6px 0px, rgba(0, 0, 0, 0.317647) 0px 6px 12px 0px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	background: white;
	overflow-y: hidden;
	z-index: 10;
	font-size: 75%;
	padding-bottom: 20px;
	-webkit-transition: all 200ms ease-in-out 0s;
	div {
		-webkit-column-fill: auto;
		-webkit-column-width: 110px;
		-webkit-column-gap: 10px;
		.friendgroup {
			margin-bottom: 1em;
			font-weight: bold;
			display: block;
		}
		span.attendee {
			display: block;
			.guests.detailed {
				cursor: help;
				font-weight: bold;
			}
		}
	}
}
.past-present-line {
	display: none;
	clear: both;
	margin: 10px -8px 5px;
	padding: 10px;
	line-height: 30px;
	background: #f8f8f8;
	color: #808080;
	text-align: center;
}
.toggle-past-halls {
	height: 25px;
	margin: 2.5px;
}
.tools {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.today-link {
	padding: 5px;
	text-decoration: none;
	background: #c0c0c0;
	height: 20px;
	line-height: 20px;
	float: left;
}
.key {
	text-align: center;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 30px;
	span {
		display: inline-block;
		margin-left: 5px;
		padding: 5px;
		text-align: center;
		height: 20px;
		box-shadow: rgba(0, 0, 0, 0.156863) 0px 0px 3px 0px, rgba(0, 0, 0, 0.317647) 0px 3px 6px 0px;
	}
	.key-booked { background-color: @booked-color; }
	.key-closed { background-color: @closed-color; }
	.key-open   { background-color: @open-color;   }
	.key-waiting {
		background-color: @closed-color;
		background-image: @open-stripes;
	}
}
.custompage {
	font-family: sans-serif;
	margin: 0;
	background: rgb(236, 236, 236);
}
