.menu {
	float: left;
	text-align: center;
	width: 300px;
	background: #f0f0f0;
	padding: 5px;
	margin: 5px;
}

.list {
	column-count:3;
	-webkit-column-count: 3;
}

.day {
	margin: 5px;
	background: #f8f8f8;
	width: 300px;
	float: left;
	min-height: 300px;
}

.day.loading {
	background-image: url('chrome-extension://__MSG_@@extension_id__/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.day p {
	margin: 0;
	padding: 0;
}

.day .menu {
	font-size: 60%;
	width: auto;
	float: none;
	margin: 0;
	white-space: pre;
	background: transparent;
	clear: both;
	padding: 0;
	width: auto;
}

.day .menu .menu-course:not(:last-child) {
	border-bottom: 2px solid #e0e0e0;
	padding: 5px;
}

.day .halls {
}
.day .hall {
	position: relative;
	background-color: #e0e0e0;
	padding: 5px;
	height: 20px;
	line-height: 20px;
	display: block;
	text-decoration: none;
	margin-left: 60px;
}
.key .key-booked,
.day .hall.hall-status-booked {
	background-color: #c0f0c0;
}
.key .key-closed,
.day .hall.hall-status-closed {
	background-color: #f0c0c0;
}
.key .key-open,
.day .hall.hall-status-open {
	background-color: #f0f0c0;
}

.day .hall .time {
	text-transform: uppercase;
	color: #202020;
	font-size: 55%;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

.day .hall .hall-capacity-bar {
	position: absolute;
	right: 0;
	top:0;
	background: rgba(255, 255, 255, 0.5);
	height: 100%;
	text-align: right;
}
.day .fulldate {
	float: left;
	height: 50px;
	padding: 5px;
	background: #808080;
	text-align: center;
	width: 50px;
	color: white;
}

.day .fulldate .weekday {
	display: block;
	height: 10px;
	line-height: 10px;
	font-size: 10px;
}
.day .fulldate .date {
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
}
.day .fulldate .month {
	display: block;
	height: 10px;
	line-height: 10px;
	font-size: 10px;
}

.day .hall .hall-capacity{
	float: right;
	color: #404040;
}

.day.nomenu {
	min-height: 145px;
}

.booking-button {
	float: right;
	display: none;
	z-index: 2;
	position: relative;
	box-sizing: border-box;
	height: 25px;
	margin: -2.5px;
}

.day        .halls:hover .hall-bookable.hall-status-open   .booking-button-book   { display: block; }
.day        .halls:hover .hall-bookable.hall-status-open   .booking-button-switch { display: none; }
.day        .halls:hover .hall-bookable.hall-status-open   .booking-button-cancel { display: none; }

/* Switching not yet implemented */
.day-booked .halls:hover .hall-bookable.hall-status-open   .booking-button-book   { display: /*none */ block; }
.day-booked .halls:hover .hall-bookable.hall-status-open   .booking-button-switch { display: /*block */ none; }
.day-booked .halls:hover .hall-bookable.hall-status-open   .booking-button-cancel { display: none; }

.day-booked .halls:hover .hall-bookable.hall-status-booked .booking-button-book   { display: none; }
.day-booked .halls:hover .hall-bookable.hall-status-booked .booking-button-switch { display: none; }
.day-booked .halls:hover .hall-bookable.hall-status-booked .booking-button-cancel { display: block; }

/* Hide capacity when showing booking intent */
.day        .halls:hover .hall-bookable.hall-status-booked .hall-capacity { display: none; }
.day        .halls:hover .hall-bookable.hall-status-open   .hall-capacity { display: none; }


.attendee-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	background: rgba(192, 192, 192, 0.9);
    overflow-y: hidden;
    z-index: 10;
    font-size: 75%;
    padding-bottom: 20px;
    -webkit-transition: all 200ms ease-in-out 0s;
}

.attendee-wrapper div {
    -webkit-column-fill: auto;
    -webkit-column-width: 110px;
    -webkit-column-gap: 10px;
}
.attendee-wrapper div strong {
	margin-bottom: 1em;
	display: block;
}
.attendee-wrapper div span {
	display: block;
}
/*
.day.nomenu .fulldate {
	width: 25px;
	height: 25px;
}

.day.nomenu .fulldate .weekday {
	height: 5px;
	line-height: 5px;
	font-size: 5px;
}
.day.nomenu .fulldate .date {
	height: 15px;
	line-height: 15px;
	font-size: 15px;
}
.day.nomenu .fulldate .month {
	height: 5px;
	line-height: 5px;
	font-size: 5px;
}*/

.day.day-current {
	width: 610px;
	height: 610px;
}

.day.day-current .menu {
	width: 610px;
	font-size: 100%;
}

.day.day-current .fulldate {
	background: black;
}

.day-past {	display: none; }
.toggle-past-halls-hide { display: none; }
.past-present-line {
	display: none;
	clear: both;
	margin: 10px -8px 5px;
	padding: 10px;
	line-height: 30px;
	background: #f8f8f8;
	color: #808080;
	text-align: center;
}

body.show-past-halls .day-past { display: block; }
body.show-past-halls .toggle-past-halls-hide { display: block; }
body.show-past-halls .toggle-past-halls-show { display: none; }
body.show-past-halls .past-present-line { display: block; }

.toggle-past-halls { height: 25px; margin: 2.5px;}

.day.day-past:not(.day-booked) {
	opacity: 0.25;
}
.day.day-past:not(.day-booked):hover {
	opacity: 1;
}

.tools {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.today-link {
	padding: 5px;
	text-decoration: none;
	background: #c0c0c0;
	height: 20px;
	line-height: 20px;
	float: left;
}

.key {
	float: right;
	background: white;
	padding-bottom: 5px;
	padding-left: 5px;
}

.key span {
	display: inline-block;
	margin-left: 5px;
	padding: 5px;
	text-align: center;
	height: 20px;
}

.custompage {
	font-family: sans-serif;
	padding-top: 30px;
}
